<!DOCTYPE html>
<html lang="en">
<!--
                                       .                                   
                                    .,,,,,,,.                              
                               ,;ir;,.....,;s1i:::,                        
                            .;r;,,. .......  ....,:::,                     
                           ;;;, .....................:;;                   
                         ,;:. .........................:r.                 
                        :i............................. ,s.                
                       .i ................,..,. ........ ;r                
                       i,,,..... .:s......:s;is;. ....... s.               
                      ,i,:...,,.;ri1, ....;s;rh1ri. ..,.,.;;               
                      ;,;...,riri, :s...,,is  ;S:i1;..:,.:;i               
                      i:; ..s1r,.,:;51..,:r5si,:, ,hr.::.:ir               
                     ,i;:..;5:,irssr;hi.,:1iissrrr,,h;:;.:;s               
                     ;;i,. i1::::,:;:ss,i;s;:::,::::ih:r.::s;              
                     s.;;  ;933XX&9h99srss5S55SXXX95S8si,i;;1.             
                   .r, .i...5hSBMAi,1S1i..1h;r9HBXr;5&1.i1::;s.            
                 .;rii. :; .55rss, . h;., ,i::rh;;ris1;i1i:::sh:           
                 ;sr1i ..:riihi:,. ... .,. ,:i;;i;i1srrs;::;ii1hri.        
                 ;ss;is:::;i;rhr:,.    .,.    .ir;h1;;isiiir1Sr;i;.        
                    .1srrriiiirhss1srr:iri:r;ss1hi.sssrs:,,..ii            
                    ..  ..,,.   :;sih#1i,;9#s;rirhs.iSs,                   
                              :;:.r 9@Ari1H#X i,:h91r5i;:                  
                            .;:. :; &#MHS&MMM,.r.S31;h1:i                  
                           :i.,i r. H@M##MB#@: r:s5S;Shs:                  
                          ;; .h: ;i,1H#@MM@#G:;r.is38Srh.                  
                         i:  s1   ,;:ih3AA5s:,,  ,115ih;                   
                33:      r: :5i       .           :511;                    
              :SBBA5:   .i1rsS,                   ,sh.                     
            .SAHAAA&H8;hhii.i5.                   ,rs                      
            SBAAAA&&XMHB3;  ,h,                   :1r                      
          ,SBHA&GAAAA&H#Gi.  ,rr.                1&r                       
          r&A&AHA&HMHX&@1Ar    5&Gh:         ,s8BHr                        
              ,rh&#B#@MSGG.     ,SABAX9S1158ABBX1                          
                .S1.,s;;;        ,:r59G&&&X8S1i;;;.                        
                                                                           
													Urahara Blog
-->
{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}



</body>

</html>
